<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Garama Prenotazioni</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="icon" href="/img/logo.jpg">
</head>
<body>
    <img id="backg" src="/img/shaw.jpeg" alt="Background">
    <div class="nav">
        <div class="block">
            <img src="/img/logo.jpg" alt="Logo" width="50" height="50" onclick="location.href='/'">
            <h2>Garama</h2>
        </div>
        <% if(!locals.logged){%>
            <a href="/login">Login\Register</a>
        <%}else{%>
            <a href="/logout">Logout - <%=locals.logged%></a>
        <%}%>
    </div>
    <div class="cont">
        <div class="row">
            <div class="col">
                <h2><%= locals.utente.nome %></h2>
                <h2><%= locals.utente.cognome %></h2>
            </div>
            <div class="col">
                <form method="post" action="/delete_acc">
                    <input type="submit" value="Delete account">
                </form>
            </div>
        </div>
    </div>
    <div class="cont">
        <% if(locals.prenotazioni.length == 0) {%>
            <h1>Nessuna prenotazione</h1>
        <%}else{%>
            <%locals.prenotazioni.forEach(pren => {%>
                <form action="/delete_pren" method="post" class="prenotazione">
                    <img src="/img/<%=pren.foto%>" class="backpren">
                    <div class="row">
                        <div class="col">
                            <h2 class="bn"><%=pren.nome%></h2>
                        </div>
                        <div class="col">
                            <h3 class="bn">Data: <%=pren.data.toISOString().split('T')[0]%></h3>
                            <h3 class="bn">N.persone: <%=pren.persone%></h3>
                        </div>
                    </div>
                    <input type="hidden" value="<%=pren.id%>" name="id_pren">
                    <div class="row">
                        <input class="bn" type="submit" value="Cancella">
                    </div>
                </form>
            <%})%>
        <%}%>
    </div>
    <div class="down">
        <h5>Shaw - Copyright° Hornet 2025</h5>
    </div>
</body>
</html>