<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Garama Prenotazioni</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="icon" href="/img/logo.jpg">
</head>
<body>
    <img id="backg" src="/img/shaw.jpeg" alt="Background">
    <div class="nav">
        <div class="block">
            <img src="/img/logo.png" alt="Logo" width="50" height="50" onclick="location.href='/'">
            <h2>Garama</h2>
        </div>
        <% if(!locals.logged){%>
            <a>Login</a>
        <%}else{%>
            <a>Logged</a>
        <%}%>
    </div>
    <div class="cont">
        <%if(!locals.luogo){%>
            <h1>Nessun elemento trovato</h1>
        <%} else{%>
            <img id="io" src="/img/<%=locals.luogo.foto_url%>">
            <div class="info">
                    <h1><%=locals.luogo.nome%></h1>
                    <h3><%=locals.luogo.descrizione%></h3>
                <div class="row">
                    <h2>Prezzo: <%=locals.luogo.prezzo%> $</h2>
                    <h2>Posti disponibili: <%= locals.disponibili%>/<%=locals.luogo.posti_totali%></h2>
                </div>
            </div>
            <div class="row">
                    <button onclick="location.href='/'">Indietro</button>
                    <%if(locals.logged && locals.disponibili > 0){%>
                        <button onclick="fetch('/prenotaposto',{
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: {user : locals.logged}
                        })">Prenota</button>
                    <%}%>
            </div>
        <%}%>
    </div>
</body>
</html>